{% extends 'base.html.twig' %}

{% block title %}Dive into the world of infos{% endblock %}

{% block content %}

<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog Post</h5>
            <h1 class="display-4">Latest Insights in Healthcare and Medicine</h1>
        </div>
        <div class="row g-5">
            {% for post in posts %}
            <div class="col-xl-4 col-lg-6">
                <div class="blog-item bg-light rounded overflow-hidden position-relative">
                    <div class="image-box">
                        <img class="img-fluid w-100" src="{{ post.imagePost }}" alt="{{ post.titre }}">
                    </div>

                    <!-- Dropdown for Edit/Delete -->
                    <div class="position-absolute top-0 end-0 m-3">
                        <div class="dropdown">
                            <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ post.id }}">
                                <li><a class="dropdown-item" href="{{ path('edit_post', {'id': post.id}) }}">Edit</a></li>
                                <li><a class="dropdown-item text-danger" href="{{ path('delete_post', {'id': post.id}) }}" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-4">
                        <a class="h3 d-block mb-3" href="{{ path('view_post', {'id': post.id}) }}">{{ post.titre }}</a>
                        <p class="m-0">{{ post.contenu|striptags|slice(0, 150) }}...</p>
                    </div>

                    <div class="d-flex justify-content-between border-top p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-2" src="{{ asset('img/user.jpg') }}" width="25" height="25" alt="">
                            <small>{{ post.user ? post.user.name : 'Anonymous' }}</small>

                            <small class="ms-3"><i class="far fa-calendar-alt text-primary me-1"></i>{{ post.datePublication|date('d M, Y') }}</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>{{ post.nbreVues }}</small>
                            <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>{{ post.nbreComments }}</small>
                        </div>
                    </div>

                    <!-- Comment Button -->
                    <div class="p-3 border-top">
                        <a href="{{ path('view_post', {'id': post.id}) }}" class="btn btn-outline-primary w-100">
                            <i class="far fa-comment me-2"></i>Commenter
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Load More Button -->
            <div class="col-12 text-center">
                <button class="btn btn-primary py-3 px-5">Load More</button>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

{% endblock %}
